body * {
	font-family: 'Proxima Nova';
}

h2 {
	color: $color-headingblack;
	font-size: 50px;
	line-height: 61px;
	font-weight: 300;
}

h3 {
	color: #555555;
	font-size: 30px;
	line-height: 36px;
}

footer {
	font-size: 18px;
	color: #9B9B9B;
}