body {
	h1 {
		font-size:50px; 
	}
	h2 {
		font-size:30px; 
		color:$color-black; 
		font-family:$primary-font-family;
	}
	p {
		font-size:$base-font; 
		color:$color-dusty-gray;
		font-family:$primary-font-family; 
	}
} 


	