//Fonts 
$primary-font-family:'Proxima Nova'; 

//Font-Sizes 
$base-font:20px;
$heading-font:50px;  


//Colors 
$color-pacific-blue:#059AC0; 
$color-international-orange:#FE5000; 
$color-white:#FFFFFF;
$color-black:#555555;
$color-dusty-gray:#9B9B9B;   