// colors

$color-dusty-gray: #9B9B9B;
$color-emperor: #555555;
$color-international-orange: #FE5000;
$color-alabaster: #F8F8F8;
$color-porcelain: #EDF1F2;
$color-pacific-blue: #059AC0;
$color-manza: #D0021B;
$color-alto: #D6D6D6;


// fonts

$font-primary: Roboto, sans-serif;