.about {

	margin-top: 100px;
	margin-bottom: 150px;

	&__heading {
		font-size: 15px;
		line-height: 18px;
		color: #FE5000;
		text-transform: uppercase;
	}

	&__subheading {
		font-size: 30px;
		line-height: 36px;
		color: #555;
	}

	&__text {
		color: #9B9B9B;
		font-size: 20px;
		line-height: 26px;
	}

	&__img1 {
		width: 353px;
		margin-left: 178px;
		margin-bottom: 178px;
	}

	&__img2 {
		width: 353px;
		margin-right: 178px;
	}

	.button {
		margin: 0 auto;
		background-color: transparent;
		border: 1px solid #FE5000;
		color: #FE5000;
		font-size: 20px;
		line-height: 24px;
		border-radius: 25px;
		height: 45px;
		padding-top: 10px;
	}

	.secondary {
		color: white;
		text-transform: uppercase;
	}
}