.data {
	padding: 0 10px;

	&__icon {
		max-width: 125px;
		display: block;
		margin: 0 auto 50px;
	}

	&__title {
		font-size: 30px;
		line-height: 36px;
		margin-top: 0;
		margin-bottom: 17px;
	}

	&__text {
		margin-bottom: 0;
	}
}