
.reveal-modal {
    
    }

    .reveal-modal--signin {
        position: absolute;
        width: 426px;
        height: 465px;
        border-radius: 20px;
    }

    .reveal-modal--signin h2 {
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 20px;
    }

    .reveal-modal--signin p {
        font-size: 11px;
        line-height: 14px;
        color: #D0021B;
        margin-bottom: 28px;
    }
    
    .reveal-modal--video {
        padding: 0;
    
        .close-reveal-modal {
            color: white;
            top: -40px;
            right: -40px;
        }
    }

.signin-form input {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 40px;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 25px;
    border: 1px solid $color-main-text;
    border-radius: 7px;
}

.signin-form label {
    font-size: 11px;
    line-height: 14px;
    color: #D0021B;
}

.signin-form p {
    float: left;
    font-size: 17px;
    line-height: 14px;
    margin-bottom: 2px;
    color: grey;
}

.signin-form {

    &__inputs {
        margin-bottom: 31px;
    }
}


