.parents-students {
	h2.parents-students__heading {
		color: $color-primary-orange;
		font-size: 15px;
		line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	h3.parents-students__title {
		margin-bottom: 18px;
	}
	.button-secondary {
		width: 170px;
		height: 42px;
	}
}