.section--users h5 {
    font-size: 15px;
    line-height: 18px;
    color: $color-brand-orange;
}

.section--users img {
    width: 355px;
    height: 370px;
    display: block;
    margin: auto;
}

.section--users {
    margin-bottom: 150px;
}